@import '../../styles/shared-styles.scss';

/* Phần chung */
.intro-section {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

/* Phần bình luận */
.comment {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.comment-user {
    margin: 0;
    font-size: 1.1em;
    color: #333;

    strong {
        color: #007bff;
        /* Màu sắc để làm nổi bật tên người dùng */
    }
}

.comment-content {
    margin-top: 5px;
    font-size: 1em;
    color: #555;
}

/* Phần hiển thị sản phẩm */
.product-image {
    height: 800px;
    width: 650px;
    object-fit: cover;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.thumbnail-item {
    width: 120px;
    height: 120px;
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.active {
        border: 4px solid $shopapp-tint-color;
    }
}

.product-main-info {
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product-main-info h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.product-main-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.product-main-info p i.yellow-star-with-border {
    color: #ffca28;
    /* Màu vàng cho sao */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-left: 5px;
}

.product-actions {
    display: flex;
    gap: 15px;
    /* Khoảng cách giữa các nút */
    margin-top: 20px;
}

.product-actions button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.product-quantity {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.border-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.product-quantity button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #555;
    cursor: pointer;
    padding: 0 10px;
    transition: color 0.3s ease;
}

.product-quantity button:hover {
    color: #007bff;
}

.product-quantity input {
    border: none;
    width: 40px;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
}

.product-quantity input:focus {
    outline: none;
}